.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}
.wrapper form > * {
  margin-bottom: 5px;
}
.form {
  display: grid;
  place-items: center;
  border: 1px solid #fff;
  padding: 10px;
}
.form_champ {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.error {
  color: red;
  padding: 5px;
}
